<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
      <services>
        <service name="InventoryService.Inventory" behaviorConfiguration="InventoryServiceBehavior">
          <endpoint
            address="InventoryService"
            binding="basicHttpBinding"
            contract="InventoryService.InventoryInterface"/>
          <endpoint
            address="InventoryService"
            binding="netTcpBinding"
            contract="InventoryService.InventoryInterface"/>
          <endpoint
            address ="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        </service>
      </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="InventoryServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>